<section class="section-card">
    <div class="card card--animation"></div>
    <div class="card card--animation"></div>
    <div class="card card--animation"></div>
    <div class="card card--animation"></div>
    <div class="card card--animation"></div>
  </section>
  <section class="section-card">
    <div class="card card--animation"></div>
    <div class="card card--animation"></div>
    <div class="card card--animation"></div>
    <div class="card card--animation"></div>
    <div class="card card--animation"></div>
  </section>
  <section class="section-card">
    <div class="card card--animation"></div>
    <div class="card card--animation"></div>
    <div class="card card--animation"></div>
    <div class="card card--animation"></div>
    <div class="card card--animation"></div>
  </section>
  <section class="section-card">
    <div class="card card--animation"></div>
    <div class="card card--animation"></div>
    <div class="card card--animation"></div>
    <div class="card card--animation"></div>
    <div class="card card--animation"></div>
  </section>